/*.a
/*.cbp
/*.kateproject
/*.kdev4
/*.layout
/*.project
/*.sublime-project
/*.sublime-workspace
/*.workspace
/.codelite/
/.cproject
/.idea/
/.kateproject
/.kdev4/
/.project
/.settings/
/CMakeCache.txt
/CMakeFiles/
/CMakeLists.txt.user
/CppCheckResults.xml
/Makefile
/build/
/cmake-build-*/
/cmake_install.cmake
/mwm
